In [1]:
# importing basic libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Data Gathering

In [3]:
deliveries=pd.read_csv(r"C:\Users\pooja\OneDrive\Desktop\ipl-rough\deliveries.csv")
deliveries.sample(7)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
203673,1254100,1,Rajasthan Royals,Sunrisers Hyderabad,2,4,YBK Jaiswal,Sandeep Sharma,SV Samson,0,0,0,NaN,0,NaN,NaN,NaN
124137,980915,1,Sunrisers Hyderabad,Kolkata Knight Riders,7,3,DJ Hooda,AD Russell,EJG Morgan,0,0,0,NaN,0,NaN,NaN,NaN
57525,501267,2,Mumbai Indians,Kolkata Knight Riders,5,1,SR Tendulkar,L Balaji,Harbhajan Singh,1,0,1,NaN,0,NaN,NaN,NaN
127521,980943,1,Sunrisers Hyderabad,Rising Pune Supergiants,10,6,S Dhawan,R Bhatia,NV Ojha,1,0,1,NaN,0,NaN,NaN,NaN
216768,1304083,1,Lucknow Super Giants,Mumbai Indians,7,6,KL Rahul,HR Shokeen,MK Pandey,1,0,1,NaN,0,NaN,NaN,NaN
183985,1216512,1,Kolkata Knight Riders,Sunrisers Hyderabad,15,6,KD Karthik,Sandeep Sharma,EJG Morgan,1,0,1,NaN,0,NaN,NaN,NaN
225532,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,7,6,F du Plessis,R Ashwin,RM Patidar,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
matches=pd.read_csv(r"C:\Users\pooja\OneDrive\Desktop\ipl-rough\matches.csv")
matches.sample(7)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
889,1304060,2022,Pune,2022-04-06,League,PJ Cummins,"Maharashtra Cricket Association Stadium, Pune",Mumbai Indians,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,5.0,162.0,20.0,N,NaN,BNJ Oxenford,KN Ananthapadmanabhan
235,501259,2011,Mumbai,2011-05-16,League,A Mishra,Dr DY Patil Sports Academy,Pune Warriors,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,6.0,137.0,20.0,N,NaN,S Ravi,SK Tarapore
550,980967,2016,Hyderabad,2016-05-06,League,B Kumar,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Gujarat Lions,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,5.0,127.0,20.0,N,NaN,M Erasmus,S Ravi
1065,1426280,2024,Kolkata,2024-04-26,League,JM Bairstow,"Eden Gardens, Kolkata",Kolkata Knight Riders,Punjab Kings,Punjab Kings,field,Punjab Kings,wickets,8.0,262.0,20.0,N,NaN,AK Chaudhary,YC Barde
744,1178424,2019,Bengaluru,2019-04-30,League,NaN,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,NaN,63.0,5.0,N,NaN,NJ Llong,UV Gandhe
745,1178425,2019,Chennai,2019-05-01,League,MS Dhoni,MA Chidambaram Stadium,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,Chennai Super Kings,runs,80.0,180.0,20.0,N,NaN,AY Dandekar,Nitin Menon

### Data Cleaning

In [6]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [7]:
deliveries['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

1. due to change in names of teams their are many teams so will convert into 8 teams.
2. as we are creating predictor we will consider only present 8 teams.

In [9]:
def change_name(team_name):
    if team_name in ['Rising Pune Supergiants','Pune Warriors']:
        return 'Rising Pune Supergiant'
    elif team_name=='Royal Challengers Bengaluru':
        return 'Royal Challengers Bangalore'
    elif team_name=='Deccan Chargers':
        return 'Sunrisers Hyderabad'
    elif team_name == 'Delhi Daredevils':
        return 'Delhi Capitals'
    elif team_name== 'Gujarat Lions':
        return 'Gujarat Titans'
    elif team_name == 'Kings XI Punjab':
        return 'Punjab Kings'
    else:
        return team_name

In [10]:
deliveries['batting_team']=deliveries['batting_team'].apply(change_name)
deliveries['bowling_team']=deliveries['bowling_team'].apply(change_name)
matches['team1']=matches['team1'].apply(change_name)
matches['team2']=matches['team2'].apply(change_name)

In [11]:
deliveries=deliveries[(deliveries['batting_team']!='Kochi Tuskers Kerala')&(deliveries['bowling_team']!='Kochi Tuskers Kerala')]
deliveries=deliveries[(deliveries['batting_team']!='Rising Pune Supergiant')&(deliveries['bowling_team']!='Rising Pune Supergiant')]
matches=matches[(matches['team1']!='Kochi Tuskers Kerala')&(matches['team2']!='Kochi Tuskers Kerala')]
matches=matches[(matches['team1']!='Rising Pune Supergiant')&(matches['team2']!='Rising Pune Supergiant')]

In [12]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240047 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          240047 non-null  int64
 1   inning            240047 non-null  int64
 2   batting_team      240047 non-null  object
 3   bowling_team      240047 non-null  object
 4   over              240047 non-null  int64
 5   ball              240047 non-null  int64
 6   batter            240047 non-null  object
 7   bowler            240047 non-null  object
 8   non_striker       240047 non-null  object
 9   batsman_runs      240047 non-null  int64
 10  extra_runs        240047 non-null  int64
 11  total_runs        240047 non-null  int64
 12  extras_type       13091 non-null   object
 13  is_wicket         240047 non-null  int64
 14  player_dismissed  11921 non-null   object
 15  dismissal_kind    11921 non-null   object
 16  fielder           8628 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.0+ MB

In [13]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1006 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1006 non-null   int64
 1   season           1006 non-null   object
 2   city             955 non-null    object
 3   date             1006 non-null   object
 4   match_type       1006 non-null   object
 5   player_of_match  1002 non-null   object
 6   venue            1006 non-null   object
 7   team1            1006 non-null   object
 8   team2            1006 non-null   object
 9   toss_winner      1006 non-null   object
 10  toss_decision    1006 non-null   object
 11  winner           1002 non-null   object
 12  result           1006 non-null   object
 13  result_margin    988 non-null    float64
 14  target_runs      1004 non-null   float64
 15  target_overs     1004 non-null   float64
 16  super_over       1006 non-null   object
 17  method           17 non-null     object
 18  umpire1          1006 non-null   object
 19  umpire2          1006 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 165.0+ KB

## runs left

In [34]:
total_runs_df=deliveries.groupby(['match_id','inning'])['total_runs'].sum().reset_index()
total_runs_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2035   1426310       2         174
2036   1426311       1         175
2037   1426311       2         139
2038   1426312       1         113
2039   1426312       2         114

[2040 rows x 3 columns]

In [40]:
total_runs_df=total_runs_df[total_runs_df['inning']==1]

In [46]:
matches_df=matches.merge(total_runs_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [48]:
matches_df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'total_runs'],
      dtype='object')

In [52]:
matches_df=matches_df[['match_id','city','winner','total_runs']]

In [56]:
delivery_df=matches_df.merge(deliveries,on='match_id')

In [62]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [64]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240043,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240044,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240045,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240046,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [68]:
delivery_df['current_score']=delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [76]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [78]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,1,221
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,1,wides,0,NaN,NaN,NaN,2,220
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,0,NaN,0,NaN,NaN,NaN,2,220
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,0,1,NaN,0,NaN,NaN,NaN,3,219
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,0,1,NaN,0,NaN,NaN,NaN,4,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,110,3
240043,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,111,2
240044,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,112,1
240045,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,113,0
240046,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,114,-1

In [150]:
delivery_df['ball_left']=120 - (delivery_df['over']*6 + delivery_df['ball'])

124       119
125       118
126       117
127       116
128       115
         ...
240042     61
240043     60
240044     59
240045     58
240046     57
Length: 115732, dtype: int64